<!--<div ng-controller="homeController">

  <ng-include src="'views/header.html'"></ng-include>
  <div id="wrapper">
    <div id="layout-static">
      <ng-include src="'views/templates/side_panel.html'"></ng-include>

      <ng-include src="'views/templates/footer_panel.html'"></ng-include>

    </div>

  </div>


</div>-->


<ng-include src="'views/header.html'" class="navbar-fixed-top"></ng-include>
<div id="wrapper">


  <div id="layout-static">
    <div class="static-sidebar-wrapper sidebar-default" >
      <ng-include src="'views/templates/side_panel.html'"></ng-include>
    </div>

    <div class="static-content-wrapper">
      <div class="static-content">
        <div class="page-content" class="mainview-animation animated">


        </div>

      </div>
      <ng-include src="'views/templates/footer_panel.html'"></ng-include>

    </div>


  </div>


</div>


