<div ng-controller="loginController" class="focused-form">

    <div class="container" id="login-form">

        <a href="index.html" class="login-logo"><img src="/assets/img/logo-big.png"></a>

        <div class="row">

            <div class="col-md-4 col-md-offset-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Login</h2>
                    </div>
                    <div class="panel-body">

                        <div class="{{error !==undefined ? 'alert alert-danger' : ''}}">{{error}}</div>

                        <form action="" class="form-horizontal" id="validate-form">
                            <div class="form-group mb-md">
                                <div class="col-xs-12">
                                    <div class="input-group">
										<span class="input-group-addon">
											<i class="ti ti-email"></i>
										</span>
                                        <input ng-model="user_email" type="text" class="form-control" placeholder="Email" data-parsley-minlength="6" placeholder="At least 6 characters" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-md">
                                <div class="col-xs-12">
                                    <div class="input-group">
										<span class="input-group-addon">
											<i class="ti ti-key"></i>
										</span>
                                        <input ng-model="user_pass" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-n">
                                <div class="col-xs-12">
                                    <a href="/forgot_password" class="pull-left">Forgot password?</a>
                                    <div class="checkbox-inline icheck pull-right p-n">
                                        <label for="">
                                            <input type="checkbox"></input>
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="clearfix">
                            <a href="#" ng-click="validateLogin()" class="btn btn-primary pull-right">Login</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>